<h1> Package Needed</h1>

In [3]:
import pandas as pd
import plotly as plt

In [8]:
df = pd.read_parquet('traffic_10lines.parquet')

print(df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 254899 entries, 3223247 to 10014282
Data columns (total 21 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   date                254899 non-null  datetime64[ns]
 1   pax                 254899 non-null  float64
 2   seats               250749 non-null  float64
 3   flight_type         251168 non-null  object
 4   flight_typename     254899 non-null  object
 5   home_airport        254899 non-null  object
 6   paired_airport      254899 non-null  object
 7   home_airportname    254899 non-null  object
 8   paired_airportname  254899 non-null  object
 9   distance            254899 non-null  Int64
 10  flight_number       251438 non-null  object
 11  airline_iata        248648 non-null  object
 12  airline_name        254813 non-null  object
 13  scheduled_datetime  254899 non-null  datetime64[ns]
 14  direction           254899 non-null  object
 15  home_country        254899 non-null  object
 16  paired_country      254899 non-null  object
 17  home_countryname    254899 non-null  object
 18  paired_countryname  254899 non-null  object
 19  travel_area         254899 non-null  object
 20  aircraft_type       251439 non-null  object
dtypes: Int64(1), datetime64[ns](2), float64(2), object(16)
memory usage: 43.0+ MB
None

<h1> Section 1 :  Plot </h1>